body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(35, 134, 176);
}
h1 {
  font-size: 20rem;
  font-family: Montserrat;
}
.letter {
  transition: color 1000ms;
}
